<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>nav}}
    
  <div class="container com-des mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">
              <span class="prof"> <img src="../uploads/{{post.userId.avtar}}" alt=""></span>
              Posted by: {{post.userId.name}}</p>
            <img src="../uploads/{{post.image}}" class="card-img-top" alt="..." height="250px" style="object-fit: cover;">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <h6>Comments:</h6>
        {{#each comments}}
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text">
              <span class="prof">
                  <img src="{{#if this.userId.avtar}}../uploads/{{this.userId.avtar}}{{else}}https://avatarfiles.alphacoders.com/103/103875.png{{/if}}" alt="{{userName.username}}'s profile picture" />
              </span>
              <strong>{{this.userId.name}}</strong>: {{this.content}}
              </p>
          </div>
        </div>
        
        {{/each}}
      </div>
    </div>
  </div>
    
    {{>footer}}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        (function($) { // Begin jQuery
    $(function() { // DOM ready
      // If a link has a dropdown, add sub menu toggle.
      $('nav ul li a:not(:only-child)').click(function(e) {
        $(this).siblings('.nav-dropdown').toggle();
        // Close one dropdown when selecting another
        $('.nav-dropdown').not($(this).siblings()).hide();
        e.stopPropagation();
      });
      // Clicking away from dropdown will remove the dropdown class
      $('html').click(function() {
        $('.nav-dropdown').hide();
      });
      // Toggle open and close nav styles on click
      $('#nav-toggle').click(function() {
        $('nav ul').slideToggle();
      });
      // Hamburger to X toggle
      $('#nav-toggle').on('click', function() {
        this.classList.toggle('active');
      });
    }); // end DOM ready
  })(jQuery); // end jQuery
    </script>
</body>
</html>